@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

:root {
    font-family: DM Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #f3f3f3;

    color-scheme: light dark;
    color: #000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    .icon {
        height: 24px;
        width: 24px;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 16px 16px
}

.hisave-logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .logo {
        width: fit-content;
    }
}

.search-section {
    display: flex;
    height: 42px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 2px solid #ffffff;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 10px;
    border-width: 10px 10px 10px 10px;
    border-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    & a {
        display: flex;
    }
    .sort {
        margin-left: auto;
    }
}

.search-text, *:focus {
    height: 40px;
    font-size: large;
    outline: none;
    background-color: white;
    color: black;
    border: white;
    flex-grow: 1;
}

.discover {
    margin-left: auto;
    margin-right: auto;
}

.card-section {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 16px;
    margin-bottom: 40px;

    .globe-backdrop {
        grid-area: 1 / 1;
        left: 10%;
    }
}

.cards {
    grid-area: 1 / 1;
    top: 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.trending-sec {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 16px;
}

.trending-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-color: transparent transparent #cccccc transparent;
}

.tr-title {
    margin: 16px;
}

.footer-container {
    position: absolute;
    bottom: 5%;
    left: 0%;
    right: 0%;
    padding: 16px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.search-btn {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 42px;
    background: #000;
    color: #ffffff;
    box-shadow: 0px 16px 32px 0px rgba(73, 62, 131, 0.12);
}

.gr-tee {
    text-align: center;
}

.hisave-logo-mini {
    width: 104px;
    height: 36px;
}

.profile-frame {
    height: 24px;
    padding: 10px;
    background: #D9D9D9;
    border-radius: 16px;
    border: 1px rgba(0, 0, 0, 0.12) solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.hm-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.profile-img {
    display: inline-flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.best-offers-heading {
    display: flex;
    flex-direction: row;
    justify-items: start;
    gap: 10px;
    margin: 20px 0;
}

.off {
    margin: 10px 0;
    background-color: white;
    gap: 10px;
    border-radius: 10px;
    .ofr-card-type {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 45px;
        height: 45px;
        align-items: center;
        background-color: white;
        border-radius: 10px;

        & img {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
    }

    .offer-item {
        display: flex;
        flex-direction: row;
        padding: 8px;
        gap: 10px;

        .offer-image {
            display: flex;
            border-radius: 10px;
            .ofr-img {
                width: 100%;
                object-fit: contain;
            }
        }
        .offer-content {
            flex-direction: column;

            .more-offer {
                flex-direction: row;
                margin: 10px 0;
                text-indent: -10px;
                padding-left: 10px;
            }

            .additional-off {
                display: flex;
                flex-direction: row;
                margin-left: -10px;
                & img {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
            }
        }



    }

}

.videoView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-justify: auto;
}

.result {
    font-size: 12px;
    padding: 0px 10px 25px 18px;
}